$primary: #0093dd;
$secondary: #00ddad;
$success: #fbc042;
$info: #404040;
$dark: #282d32;
$font-family-sans-serif: "Noto Sans JP", sans-serif;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.popperName {
  background-color: white;
  color: black;
  border-radius: 2px;
  padding: 3px;
}

.popperArrow {
  position: absolute;
  width: 10px;
  height: 10px;
  &:after {
    content: " ";
    background-color: white;
    position: absolute;
    top: -8px;
    left: 0;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
  }
}

[data-popper-placement="top"] > .popperArrow::after {
  top: 22px;
}

.icon:hover > * {
  color: $primary;
}

.kanji {
  display: inline-block;
  font-size: 700%;
  font-weight: bold;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
